


<br>
<br>

<br>

<br>

<br>


<aside class="widgetinner clearfix">
    <div class=widgetinfowrap>
        <div class=bg-blackimg style="color: red ;margin-left:-100px;"><h3>OUR SERVICES FOR YOU:</h3> </div>
        <ul class="widgetinfo info01">
        <!--    <li><a href="#!demo">Demo1</a><br></li>  -->
            <li><a href="#!player_f">Players</a><br></li>
            <li><a href="#!coach_f">Coaches</a><br></li>
            <li><a href="#!physio_f">Physios</a><br></li>
          <!--     <li><a href="#!admin_f">Admins</a><br></li>     -->
            <li><a href="#!fixtures">Fixtures</a><br></li>
            <li><a href="#!performance">Performances</a><br></li>
            <li><button type="button" name="button" class="btn btn-success" style="padding:15px;"><a style="padding:0px;" href="#!loginPlayer">Player Dashboard</a></button><br></li>
            <li><button type="button" name="button"class="btn btn-success"style="padding:15px;"><a style="padding:0px;" href="#!loginCoach">Coach Dashboard</a></button><br></li>
            <li><button type="button" name="button"class="btn btn-success"style="padding:15px;"><a style="padding:0px;" href="#!loginAdmin">Admin Dashboard</a></button><br></li>
            <li><button type="button" name="button"class="btn btn-success"style="padding:15px;"><a style="padding:0px;" href="#!loginPhysio">Physio Dashboard</a></button><br></li>

          <!--  <li>last minute bookings</li>   -->
          <!--    <li>7 years online swering fans</li>   -->
        </ul>

</aside>
