<div style="background:black">
  <div class=row>
    <h1 class=logo><a href=index.html><img style="padding-left:100px;" src=content/images/logo.png alt=image></a></h1>

    <div class=menubar>
      <nav class=navbar>
        <div class=nav-wrapper>

          <div class=nav-menu>
            <ul class="nav navbar-nav menu-bar">

              <table style="margin-left:800px">

                <tr>

                  <td style="padding:10px;"><a href=index.html class=active><h3 style="color:white;">Home</h3> <span></span> <span></span>
                      <span></span> <span></span></a></td>
                  <td style="padding:10px"><a href=index.html class=active><h3 style="color:white;">About</h3> <span></span> <span></span>
                      <span></span> <span></span></a></td>
                  <td style="padding:10px"><a href=index.html class=active><h3 style="color:white;">Contract</h3> <span></span> <span></span>
                      <span></span> <span></span></a></td>
                  <td style="padding:10px"><a href=index.html class=active><h3 style="color:white;">Demo</h3> <span></span> <span></span>
                      <span></span> <span></span></a></td>

                  <td>
                    <div class=social><a style="padding:10px" href=https://www.facebook.com/templatespoint.net class=facebook><i class="fa fa-facebook"></i></a> <a style="padding:10px" href=https://twitter.com/itobuztech class=twitter><i class="fa fa-twitter"></i></a> <a
                        href=https://www.behance.net/ class=behance style="padding:10px"><i class="fa fa-behance"></i></a>
                    </div>
                  </td>
                </tr>
              </table>





            </ul>
          </div>
        </div>
      </nav>
    </div>
