<div class="matchSchedule_details row">
  <div class=match_next >
    <div class="wrap_match_next right-triangle">
      <div class=right-padding>
        <h4 class=headline03>ALL ADMINS</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button" name="button" class="btn btn-success">GO TO ADMIN DASHBOARD</button>
      </div>
    </div>
  </div>
  <div class=match_versus-wrap style="margin-top:-400px;margin-left: 297px">
    <div class=wrap_match-innerdetails>
      <ul class="point_table scrollable">
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">#</div>
            <div class="headline01 largepoint">NAME</div>
            <div class="headline01 smallpoint row row"><span>EMAIL</span><span></span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">1</div>
            <div class="headline01 largepoint">FC Silver Bullets</div>
            <div class="headline01 smallpoint row row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">2</div>
            <div class="headline01 largepoint">FC Spinning Slammers</div>
            <div class="headline01 smallpoint row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">3</div>
            <div class="headline01 largepoint">FC Crimson Executioners</div>
            <div class="headline01 smallpoint row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">4</div>
            <div class="headline01 largepoint">FC Shaolin Robots</div>
            <div class="headline01 smallpoint row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">5</div>
            <div class="headline01 largepoint">FC Silent Xpress</div>
            <div class="headline01 smallpoint row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">6</div>
            <div class="headline01 largepoint">FC Dark Scorpions</div>
            <div class="headline01 smallpoint row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">7</div>
            <div class="headline01 largepoint">FC Cyborg Snakes</div>
            <div class="headline01 smallpoint row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">8</div>
            <div class="headline01 largepoint">FC Skull Killers</div>
            <div class="headline01 smallpoint row"><span>p</span><span>10</span></div>
          </div>
        </li>
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">1</div>
            <div class="headline01 largepoint">FC Reptile Kickers</div>
            <div class="headline01 smallpoint row"><span>p</span><span>11</span></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
