<aside class=contentinner>
<form>
 <table class="table table-bordered table-hover" style="width:600px;font-size:16px;">

  <tr>
    <td>Name:</td>
    <td><input type="text" class="form-control" ng-model="p.Name" value="">
    <span class="text text-danger">{{nError}}</span></td>
  </tr>
  <tr>
    <td>UserName:</td>
    <td><input type="text"  class="form-control" ng-model="p.UserName" value="">
    <span class="text text-danger">{{unameError}}</span></td>
  </tr>
  <tr>
    <td>Passowrd:</td>
    <td><input type="password"  class="form-control" ng-model="p.Password" value="">
    <span class="text text-danger">{{pError}}</span></td>
  </tr>
  <tr>
    <td>Nationality:</td>
    <td><input type="text" class="form-control" ng-model="p.Nationality" value="">
    <span class="text text-danger">{{ntError}}</span></td>
  </tr>
  <tr>
    <td>Age:</td>
    <td><input type="number" class="form-control" ng-model="p.Age" value="">
    <span class="text text-danger">{{aError}}</span></td>
  </tr>
  <tr>
    <td>Height:</td>
    <td><input type="number" class="form-control" ng-model="p.Height" value="">
    <span class="text text-danger">{{hError}}</span></td>
  </tr>
  <tr>
    <td>Weight:</td>
    <td><input class="form-control" type="number" ng-model="p.Weight" value="">
    <span class="text text-danger">{{wError}}</span></td>
  </tr>
  <tr>
    <td>Position:</td>
     <td>
       <select class="form-control form-control-line" required ng-model="p.Position">
         <option disabled selected>Select Position</option>
          <option value="CB">CB</option>
          <option value="CMF">CMF</option>
          <option value="DMF">DMF</option>
          <option value="CF">CF</option>
          <option value="GK">GK</option>
          <option value="Winger">Winger</option>
        </select>
    <!-- <td><input type="text" class="form-control"
      ng-model="p.Position" value=""> -->
    <span class="text text-danger">{{pError}}</span></td>
  </tr>
  <tr>
    <td>Joining Date:</td>
    <td><input type="datetime" class="form-control"
       ng-model="p.Joining_Date" value="">
     <span class="text text-danger">{{jdError}}</span></td>
  </tr>
  <tr>
    <td>Contact Year:</td>
    <td><input type="date" class="form-control" ng-model="p.Contract_Year" value="">
    <span class="text text-danger">{{cyError}}</span></td>
  </tr>
  <tr>
    <td>Performance Id:</td>
    <td>
      <input type="number" class="form-control" ng-model="p.Performance_Id">
    <span class="text text-danger">{{piError}}</span></td>
  </tr>
  <tr>
    <td>Salary:</td>
    <td>
      <!-- <select class="form-control form-control-line" required ng-model="p.Salary_Id">
							<option disabled selected>Select Salary</option>
							<option ng-repeat ="s in Salary" value={{s.Id}}>{{s.Grade}}</option>

			</select> -->
      <select class="form-control form-control-line" required ng-model="p.Salary_Id">
        <option disabled selected>Select Salary</option>
        <option ng-repeat="s in salary" value="{{s.Id}}">{{s.Grade}}</option>
      </select>
    <span class="text text-danger">{{siError}}</span></td>
  </tr>
  <tr>
    <td>Fitness Id:</td>
    <td>
      <input type="number" class="form-control" ng-model="p.Fitness_Id">
    <span class="text text-danger">{{fiError}}</span></td>
  </tr>
  <tr>
    <td><input type="submit" ng-click="AddPlayer(p)" class="btn btn-success" name="submit" value="Add Player"></td>
  </tr>
  </table>
</form>
</aside>
