<section class=about>
        <div  class=container>
            <div class=row><h2 style="margin-left: 150px;padding: 50px;"class=heading>WELCOME TO   <span> ADMIN DASHBOARD</span></h2>



                    <div style="margin-left:100px;"class=nav-header id=aboutTab>
                        <ul class="nav nav-tabs clearfix" role=tablist>
                            <li><a href="#!/player_f2" aria-controls=matches role=tab data-toggle=tab>Players info</a></li>
                            <li class=active><a href="#!/coach_f1" aria-controls=static role=tab data-toggle=tab>Coaches info</a>
                            </li>
                            <li><a href="#!/admin_physioRead" aria-controls=traning role=tab data-toggle=tab>Physio info</a></li>
                            <li><a href="#!/admin_salaryRead" aria-controls=traning role=tab data-toggle=tab>Salary info</a></li>
                            <li><a style="margin-left: 0px;" href="#!/PerformanceRead" aria-controls=traning role=tab data-toggle=tab>Performance info</a></li>
                            <li><a href="#!/admin_fixtureRead1" aria-controls=traning role=tab data-toggle=tab>Fixture info</a></li>
                            <li><a href="" aria-controls=traning role=tab data-toggle=tab>Total Player: {{totalPlayer}}</a></li>
                            <li><a href="#!/" aria-controls=traning role=tab data-toggle=tab>Logout</a></li>

                        </ul>
                    </div>

                    <div  style="margin-top:50px;margin-left:50px;" class=innerWrapper>
                        <ul class="contact_icon clearfix">
                            <li><a href=tel:80052608885263><i class="fa fa-phone"></i> <span>+1 800-256-9876</span></a></li>
                            <li><a href=mailto:mail@yoursite.com><i class="fa fa-envelope-o"></i>
                                <span>info@soccerclub.com</span></a></li>
                            <li><a href=#><i class="fa fa-map-marker"></i> <span>321/1 bakersssstreet,Newwork</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

    </section>
