<form>
  <table class="table table-dark table-striped" style="width:600px;font-size:16px;">
  <tr>
    <td>Name:</td>
    <td><input type="text" class="form-control" ng-model="p.Name" value="">
    <span class="text text-danger">{{nameError}}</span></td>
  </tr>
  <tr>
    <td>Type:</td>
    <td>
      <select class="form-control form-control-line" required ng-model="p.Type" ng-change="{{p.Type}}">
              <option disabled selected>Select Formation</option>
              <option  value="5-3-2" >5-3-2</option>
              <option  value="4-4-2" >4-4-2</option>
							<option  value="4-3-3" >4-3-3</option>
			</select>
    <span class="text text-danger">{{typeError}}</span></td>
  </tr>
  <tr>
    <td><input type="submit" ng-click="UpdateFormation(p)" class="btn btn-success" name="submit" value="Update Formation"></td>
  </tr>
  </table>
</form>
