<aside class=contentinner>
<div >
<img style="margin-left:-100px;margin-top:-75px;" src="content/images/HOMEPAGE.png" alt="image">
</div>
<div class=footer-type02 >
  <div >
    <div class=row><a href=index-2.html class=footer-logo><img src=content/images/logo.png alt=image></a>

      <div class=footer-container>
        <ul class=clearfix>
          <li><a href=https://www.facebook.com/templatespoint.net class=bigsocial-link><i class="fa fa-facebook"></i></a></li>
          <li><a href=https://twitter.com/ class=bigsocial-link target=_blank><i class="fa fa-twitter"></i></a></li>
          <li><a href=https://www.behance.net/ class=bigsocial-link target=_blank><i class="fa fa-behance"></i></a></li>
        </ul>
        <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
      </div>
      <div class=footer-appstore>
        <figure><a href=#><img src=content/images/appstore/apple.png alt=image></a></figure>
        <figure><a href=#><img src=content/images/appstore/google.png alt=image></a></figure>
      </div>
    </div>
  </div>
</div>





</aside>
