<aside class=contentinner style="font-size:15px">
<table style="" class="table table-bordered table-hover">
    <tr style="background:linear-gradient(45deg, red, transparent);font-size:20px;" align="center"> <td> PERFORMANCE DETAILS PAGE</td><td></td></tr>
    <tr>
      <td>ID:</td>
      <td>{{p.Id}}</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>{{p.Name}}</td>
    </tr>
    <tr>
      <td>Average Rating:</td>
      <td>{{p.Avg_Rating}}</td>
    </tr>
    <tr>
      <td>Goals:</td>
      <td>{{p.Goals}}</td>
    </tr>
    <tr>
      <td>Assists:</td>
      <td>{{p.Assists}}</td>
    </tr>
    <tr>
      <td>Accurate Pass:</td>
      <td>{{p.Accurate_Pass}}</td>
    </tr>
    <tr>
      <td>Key Pass:</td>
      <td>{{p.Key_Pass}}</td>
    </tr>
    <tr>
      <td>Inteception:</td>
      <td>{{p.Interception}}</td>
    </tr>
    <tr>
      <td>Successfull Tackled:</td>
      <td>{{p.Successfully_Tackled}}</td>
    </tr>
    <tr>
      <td>Chance Create:</td>
      <td>{{p.Chance_Create}}</td>
    </tr>
    <tr>
      <td>Dribbles Completed:</td>
      <td>{{p.Dribbles_Completed}}</td>
    </tr>
    <tr>
      <td>Saves:</td>
      <td>{{p.Saves}}</td>
    </tr>
    <tr>
      <td>Red Card:</td>
      <td>{{p.Red_Cards}}</td>
    </tr>
    <tr>
      <td>Yellow Card:</td>
      <td>{{p.Yellow_Cards}}</td>
    </tr>
</table>
