
<div class="matchSchedule_details row">
  <div class=match_next>
    <div class="wrap_match_next right-triangle">
      <div class=right-padding>
        <h4 class=headline03>ALL PLAYERS</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button" name="button" class="btn btn-success">GO TO PLAYER DASHBOARD</button>
      </div>
    </div>
  </div>
  <div class=match_versus-wrap style="margin-top:-400px;margin-left: 297px">
    <div class=wrap_match-innerdetails>
      <ul class="point_table scrollable">
        <li class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">Player ID</div>
            <div class="headline01 largepoint">NAME</div>
            <div class="headline01 smallpoint row row"><span>POSITION</span><span></span></div>
          </div>
        </li>
        <li ng-repeat="p in players" class=clearfix>
          <div class=subPoint_table>
            <div class="headline01 smallpoint">{{p.Id}}</div>
            <div class="headline01 largepoint">{{p.Name}}</div>
            <div class="headline01 smallpoint row row"><span></span><span>{{p.Position}}</span></div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
