<!-- <h2>{{demo}}</h2>  -->
<section class=about>
        <div style="margin-left:400px;" class=container>
            <div ><h2 class=heading>WELCOME TO   <span> PALYER DASHBOARD</span></h2>



                    <div style="margin-top:40px;margin-left:300px;"class=nav-header id=aboutTab>
                        <ul class="nav nav-tabs clearfix" role=tablist>
                            <li><a href="#!/player_f1" aria-controls=matches role=tab data-toggle=tab>FULL TEAMS INFO</a></li>
                            
                            <li><a href="#!/" aria-controls=traning role=tab data-toggle=tab>Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div style="margin-top:40px;" class=container>

                        <div class=wrap-achive>
                            <ul class=achievement>
                                <li class=clearfix>
                                    <div class=fig><img src=content/images/awards/awards01.png alt=image>

                                        <div>WINNER 2007, UEFA Champions League</div>
                                    </div>
                                    <div class=figcontentachv> <h5 class="headline01 red">winner 2007 , uefa champions
                                        league</h5>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde veniam rerum rem
                                            voluptates reprehenderit, ab dicta eaque in? Molestiae maxime, sunt deleniti a
                                            accusantium, qui iure perspiciatis. Esse, tempore?Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit. Ullam unde veniam rerum rem voluptates reprehenderit,
                                            ab dicta eaque in? Molestiae maxime, sunt deleniti a accusantium, qui iure
                                            perspiciatis. Esse, tempore?Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Ullam unde veniam rerum rem voluptates reprehenderit, ab dicta eaque in?
                                            Molestiae maxime, sunt deleniti a accusantium, qui iure perspiciatis. Esse,
                                            tempore?lorem.</p>

                                        <div class="blog-detailsfooter achvfooter clearfix">
                                            <div class="blog-detailsfooter01 clearfix"><a href=https://www.facebook.com/templatespoint.net
                                                                                          class="social_link facebook"><i
                                                    class="fa fa-facebook"></i></a> <a href=https://twitter.com/
                                                                                       class="social_link twitter"><i
                                                    class="fa fa-twitter"></i></a> <a href=https://www.behance.net/
                                                                                      class="social_link behance"><i
                                                    class="fa fa-behance"></i></a></div>
                                            <div class=blog-detailsfooter02><p class=uppercaseheading>octomber 14 ,<span
                                                    class=red>2015</span></p></div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                </section>
