<section class=playerDpage>
      <div class=container>
          <div class=row><h2 class=heading>player <span>Details</span></h2>

              <ul class="playerDetailsPage-info clearfix">
                  <li><h2>08</h2>

                      <h3>Connie Chesson</h3>

                      <div class=bio_player>
                          <div><span>nationality</span>{{p.Amount}}</div>
                          <div><span>Height</span>{{p.Grade}}</div>
                          <div><span>position</span>{{p.Bonus}}</div>
                          <div><span>weight</span>{{p.Status}}</div>

                      </div>
                      <a href=shop.html class=player_cart><i class="fa fa-shopping-cart"></i><span></span></a>
                  </li>
                  <li></li>
                  <li><h5>I like to fight for every ball as if it where the last and give my all on the field</h5>

                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, tempore consequuntur.
                          Magni distinctio nihil.</p>

                      <div class="playersocial bg-black clearfix"><a href=# class=social_link><i
                              class="fa fa-facebook"></i></a> <a href=# class=social_link><i
                              class="fa fa-linkedin"></i></a> <a href=# class=social_link><i
                              class="fa fa-twitter"></i></a> <a href=# class=social_link><i class="fa fa-behance"></i></a>
                      </div>
                  </li>
              </ul>

  </section>
