<a href="#!/adminDashboard" class="btn btn-success">Back</a>
<aside class=contentinner style="font-size:15px">
<table style="" class="table table-bordered table-hover">
  <tr style="background:linear-gradient(45deg, red, transparent);font-size:20px;" align="center">
     <td>Id</td>
     <td>Amount</td>
     <td>Salary Grade</td>
     <td>Bonus</td>
     <td>Status</td>
     <td>Action</td>
    </tr>
    <tr align="center" ng-repeat="p in salary track by $index">
      <td>{{p.Id}}</td>
      <td>{{p.Amount}}</td>
      <td>{{p.Grade}}</td>
      <td>{{p.Bonus}}</td>
      <td>{{p.Status}}</td>
      <td><a href="#!/admin_salaryUpdate{{p.Id}}" style="background:green;border:1px solid;width:100px;height:20px;padding:10px;border-align:center;border-radius:10px;color:white;">Edit</a>
          <a href="#!/admin_salaryDelete{{p.Id}}" style="background:#D0152E;border:1px solid;width:100px;padding:10px;border-align:center;border-radius:10px;color:white;">Delete</a>
          <a href ="#!/admin_playerDetails{{p.Id}}" style="background:blue;border:1px solid;width:100px;padding:10px;border-align:center;border-radius:10px;color:white;">Details</a>
      </td>
    </tr>
    <tr>
      <td><a href="#!admin_salaryCreate" class="btn btn-primary">Add Salary</a></td>
    </tr>
  </table>
</aside>
